<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>게시글 작성</title>
</head>

<body>
  <form action="/" method="POST">
    <label>title</label>
    <input name="title" type="text" placeholder="title">
    <br />
    <label>content</label>
    <textarea name="content" type="text" placeholder="content"></textarea>
    <br />
    <input type="submit" value="작성 완료">
  </form>
</body>

</html>