<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title><%= name %></title>
</head>

<body>
  <% for (var [index, article] of Object.entries(articles)) { %>
    <h2 onclick="moveToViewPage('<%= index %>')"><%= article.title %></h2>
  <% } %>

  <input type="button" value="게시글 작성" onclick="movetoWritePage()"/>
  
  <script type="text/javascript">
    function moveToViewPage(index) {
      location.href = `/view?id=${index}`
    }

    function movetoWritePage(){
      location.href = "/write";
    }
  </script>
</body>

</html>